<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rebouny.android.schnarch"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application android:name=".SchnarchApplication"
                 android:icon="@drawable/icon"
                 android:label="@string/app_name" >
        <activity android:name=".activity.SongListActivity" 
                  android:label="@string/title_activity_list_songs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowSongActivity"
                  android:label="@string/title_activity_show_song" 
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>